/* to prevent page scrolling  */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* to prevent scrolling  */
*{
    margin: 0;
    padding: 0;
    /* as per instruction */
    box-sizing: border-box; 
}

body{
    background: #f0f0f0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}


/* main section styling */
.image-container{
    /* To get 25% space left/right: 100 - 25 - 25 = 50vw */ 
    width: 50vw;

    /* 10vh top/bottom, 'auto' handles the 25vw left/right spacing */
    margin: 10vh auto;
    
    border: 1px solid #333;
}


/* image styling */
.main-img{
    width: 100%;
    display: block;
}

/* button styling */
.gradient-btn{
    width: 100%;
    padding: 20px 0;
    border: none;

    /* linear gradient bg */
    background: linear-gradient(to right, yellow, green, blue);

    color: white;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    cursor: pointer;
}